<section class="second" [class.seconddark]="dark.isDark">
    <div class="parent">
        <!-- <div class="div parent-content">
            <div class="content">
                <span class="heading">Find A Doctor</span>
                <div class="search">
                    <input type="text" class="name" placeholder="Name">
                    <input type="text" class="name" placeholder="Speciality">
                    <span class="avail">Available</span>
                    <img src="../../assets/Group 512778.svg" alt="" class="available-icon">
                    <button class="search-btn">Search</button>
                </div>
            </div>
        </div> -->
        <div class="content2">
            <span class="heading">Our Results in numbers</span>
            <div class="numbers">
                <div class="num1 first-num">
                    <span class="num">99 <span class="percentage">%</span></span>
                    <span class="text">Customer satisfaction</span>
                </div>
                <div class="num1 num2">
                    <span class="num">15 <span class="percentage">k</span></span>
                    <span class="text">Online Patients</span>
                </div>
                <div class="num1 num2">
                    <span class="num">12 <span class="percentage">k</span></span>
                    <span class="text">Patients Recovered</span>
                </div>
                <div class="num1 num2">
                    <span class="num">240<span class="percentage">%</span></span>
                    <span class="text">Company Growth</span>
                </div>
            </div>
        </div>
       <div class="third-content">
        <div class="content3">
            <div class="left">
                <div class="content-left">
                    <span class="heading">You have lots of reasons to choose us</span>
                    <span class="parag">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.</span>
                    <div class="btns">
                        <button class="btn">Get Started</button>
                        <button class="btn btn2">Talk to sales</button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="content-right">
                    <img src="../../assets/Container.png" alt="" class="img-here">
                </div>
            </div>
        </div>
       </div>
    </div>
</section>