<section class="trusted" [class.trusteddark]="dark.isDark">
    <div class="parent">
        <div class="headings">
            <span class="heading">Trusted by 10,000+ companies around the world</span>
        </div>
        <div class="cards slider">
            <div class="card">
                <img src="../../assets/Google.svg" alt="" class="card-icon">
            </div>
            <div class="card">
                <img src="../../assets/Facebook.png" alt="" class="card-icon">
            </div>
            <div class="card">
               <img src="../../assets/YouTube.svg" alt="" class="card-icon">
            </div>
            <div class="card">
                <img src="../../assets/Pinterest.svg" alt="" class="card-pint">
            </div>
            <div class="card">
                <img src="../../assets/Twitch.svg" alt="" class="card-icon"> 
            </div>
           <div class="card">
             <img src="../../assets/Webflow.svg" alt="" class="card-icon">
           </div>
        </div>
    </div>
    <div class="parent2">
        <div class="content">
            <span class="heading">Subscribe to our newsletter</span>
            <div class="input-div">
                <input type="text" class="inp" placeholder="Enter Your Email">
                <button class="subscribe">Subscribe</button>
            </div>
        </div>
    </div>
</section>