 <app-navbar />
 <section class="home" [class.homedark]="dark.isDark">
    <div class="parent">
        <div class="content">
            <div class="left">
                <div class="left-content">
                    <span class="heading">
                        Providing Quality <span class="health">Healthcare</span>
                        For A <span class="green">Brighter</span> And <span class="green">Healthy</span> Future
                    </span>
                    <span class="content-left">
                        At our hospital, we are dedicated to providing exceptional medical care to our patients and their families. Our experienced team of medical professionals, cutting-edge technology, and compassionate approach make us a leader in the healthcare industry
                    </span>
                    <div class="btns">
                        <button class="appoint">Appointments</button>

                    <div class="watch">
                        <div class="ply-btn">
                        <mat-icon class="play-icon">play_arrow</mat-icon>
                        </div>
                        <span class="watch-text">Watch Video</span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right-content">
                    <div class="img-container">
                         <div class="img-testing">
                            <svg class="bg-img" xmlns="http://www.w3.org/2000/svg" width="520" height="548" viewBox="0 0 520 548" fill="none">
                                <path d="M371.861 69.4458C407.056 98.7392 437.929 129.716 463.554 167.091C489.178 204.802 510.172 248.91 517.273 297.732C524.374 346.555 517.582 399.754 497.205 447.903C477.138 495.716 437.796 488.481 395.5 507C363.5 529 316 548 263.5 548C214 548 182 545 139 522C102 490.5 41.5208 478.544 18.9835 441.506C-3.86244 404.468 0.151041 348.912 0.459771 293.355C0.7685 238.135 -2.62753 182.579 14.97 136.114C32.5676 89.6481 71.1588 52.2738 114.998 28.3677C158.838 4.46155 208.235 -5.63964 252.692 3.11472C297.149 12.2058 336.666 40.1524 371.861 69.4458Z" fill="url(#paint0_linear_47_34)"/>
                                <defs>
                                <linearGradient id="paint0_linear_47_34" x1="260" y1="0" x2="260" y2="548" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#007E85"/>
                                <stop offset="1" stop-color="#2B8500" stop-opacity="0.49"/>
                                </linearGradient>
                                </defs>
                            </svg>
                            <img src="../../assets/image 17.png" alt="" class="img-here">
                            <div class="doctors">
                                <span class="heading">Our Professionals</span>
                               <div class="img-doc">
                                <img src="../../assets/Ellipse 3.svg" alt="" class="doctor-img">
                                <img src="../../assets/Ellipse 4.svg" alt="" class="doctor-img">
                                <img src="../../assets/Ellipse 5.svg" alt="" class="doctor-img">
                                <img src="../../assets/Ellipse 8.svg" alt="" class="doctor-img">
                                <img src="../../assets/Ellipse 9.svg" alt="" class="doctor-img">
                                <div class="thirtyplus">
                                    <span class="text">30+</span>
                                </div>
                               </div>
                            </div> 
                            <div class="service">
                                <span class="heading">24/7 <span class="text">Service</span></span>
                            </div>
                         </div>
                          
                        
                   </div>
                </div>
            </div>
        </div>
    </div>
</section> 
 <app-second-component />
 <app-jobs />
<app-team />
<app-trusted />
<app-footer />  